﻿
@using AdminTool.Extensions.GoogleCaptcha
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@inject IOptions<GoogleCaptchaConfig> GoogleCaptchaConfig

<script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>
<script>   

    function getToken(){
        grecaptcha.ready(function() {
            grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', {action: 'submit'}).then(function(token) {
                // Add your logic to submit to your backend server here.
                console.log(token);
                document.getElementById("CaptchaToken").value = token;
            });
        });
    }

    setInterval(getToken(),115000);

</script>