﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminTool</title>
    <base href="~/" />
    <link rel="stylesheet" href="styles/site.css" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>
<body>
    <div x-data="{ sidebarOpen: true }" class="flex overflow-x-hidden h-screen navbar-dark">
        <partial name="side">
            <div class="flex-1">
                <partial name="NavBar">
                    <main role="main" class="p-4">
                        @RenderBody()
                    </main>
                <partial name="footer">

            </div>
    </div>

    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
