﻿@page
@model AdminTool.Pages.Account.ForgotPasswordModel

<section>
    <div class="flex justify-center items-center h-screen">
        <div class="max-w-md border-2 rounded-md bg-white w-full p-6 space-y-4">
            <div class="text-center flex flex-col justify-center items-center mb-4">
                <h1 class="font-bold tracking-wider text-xl mb-2 w-full text-gray-600">
                    Forgot Password
                </h1>
                @if (string.IsNullOrEmpty(Model.Token))
                {
                    <div class="py-2 text-left text-red-500 font-semibold">
                        @Html.Raw(Model.ErrorMessage)
                    </div>
                    <form method="post">
                        <input type="hidden" asp-for="CaptchaToken" />
                        <div class="" mb-4">
                            <label asp-for="Email" class="block mb-2 text-base text-gray-600 font-semibold"></label>
                            <input asp-for="Email" name="email" placeholder="Email" type="email"
                               class="py-2 px-3 border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
                        </div>
                        <div class="mt-8">
                            <button asp-page-handler="SendForgotPasswordEmail" class="w-full px-4 py-2 tracking-wide text-white bg-green-500 transition-colors duration-200 transform rounded-md bg-primary hover:bg-green-400 focus:outline-none focus:bg-teal-400">
                                Continue
                            </button>
                        </div>
                    </form>

                }
                else
                {
                    <p class="p-2 font-semibold">The reset password link has been sent to your mail.</p>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
    <partial name="_CaptchaPartial" />
    <partial name="_ValidationScriptsPartial" />
    }
}