﻿@page
@model AdminTool.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login page";
}

<section>
    <div class="flex justify-center items-center h-screen">
        <div class="max-w-md border-2 rounded-md bg-white w-full p-6 space-y-4">
            <div class="flex flex-col justify-center items-center mb-4">
                <img src="~/images/logo.png" alt="Admin Tool" />
                <p class="text-xl text-center text-gray-600 ">Welcome back</p>
            </div>
            @if (Model.ErrorMessage != null)
            {
                <p class="text-red-600 text-center">
                    @Model.ErrorMessage
                </p>
            }
            <form method="post">
                @if (Model.Counter > 3)
                {
                    <input type="hidden" asp-for="CaptchaToken" />
                }
                <div class="mb-4">
                    <label for="username" class="block mb-2 text-base text-gray-600 font-semibold">Username</label>
                    <input asp-for="Username" type="text"
                           class="py-2 px-3 border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full"
                           placeholder="Enter your username">
                </div>
                <div class="mb-4">
                    <label for="password" class="block mb-2 text-base text-gray-600 font-semibold">Password</label>
                    <input asp-for="Password" type="password" name="password" placeholder="Enter your password"
                           class="py-2 px-3 border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
                </div>
                <div class="flex justify-between mt-4">
                    <div class="flex items-center">
                        <input type="checkbox"
                               class="cursor-pointer border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mr-2">
                        <p>Remember Me</p>
                    </div>
                    <div class="">
                        <a asp-page="/Account/ForgotPassword" class="hover:underline hover:text-red-600">Forgot Your Password?</a>
                    </div>
                </div>
                <div class="mt-8">
                    <button type="submit"
                            class="w-full px-4 py-2 tracking-wide text-white bg-green-500 transition-colors duration-200 transform rounded-md bg-primary hover:bg-green-400 focus:outline-none focus:bg-teal-400">
                        Sign in
                    </button>
                </div>
            </form>
            <p class="text-center text-gray-300 text-sm">OR</p>
            <div class="flex items-center justify-between mt-4">
                <span class="w-1/5 border-b dark:border-gray-600 md:w-1/4"></span>
                <a asp-page="/Account/Register" class="text-xs text-gray-600 hover:text-gray-400 uppercase hover:underline">Create an account</a>
                <span class="w-1/5 border-b dark:border-gray-600 md:w-1/4"></span>
            </div>
        </div>
    </div>
</section>

@if (Model.Counter > 3) { }
@section Scripts {
    @{
    <partial name="_CaptchaPartial" />
    }
}
