﻿@page
@using Jexpa.Core.Enums
@model AdminTool.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register page";
}

<section>
    <div class="flex justify-center items-center h-screen">
        <div class="max-w-md border-2 w-full p-6 space-y-4 bg-white">
            <div class="mb-4">
                <h2 class="mb-3 text-center text-5xl text-green-700 font-extrabold">
                    Register
                </h2>
            </div>
            <form method="post" action="">
                <input type="hidden" id="CaptchaToken" asp-for="inputModel.CaptchaToken" />
                <div class="mb-4">
                    <label asp-for="inputModel.Username"
                           class="block mb-2 text-base text-gray-600 font-semibold"></label>
                    <input asp-for="inputModel.Username" type="text"
                           class="py-2 px-3 border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
                    <span asp-validation-for="inputModel.Username" class="text-red-600"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="inputModel.Email"
                           class="block mb-2 text-base text-gray-600 font-semibold"></label>
                    <input asp-for="inputModel.Email" type="email"
                           class="py-2 px-3 border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
                    <span asp-validation-for="inputModel.Email" class="text-red-600"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="inputModel.Password"
                           class="block mb-2 text-base text-gray-600 font-semibold"></label>
                    <input asp-for="inputModel.Password" type="password"
                           class="py-2 px-3 border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
                    <span asp-validation-for="inputModel.Password" class="text-red-600"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="inputModel.ConfirmPassword"
                           class="block mb-2 text-base text-gray-600 font-semibold"></label>
                    <input asp-for="inputModel.ConfirmPassword" type="password"
                           class="py-2 px-3 border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
                    <span asp-validation-for="inputModel.ConfirmPassword" class="text-red-600"></span>
                </div>
                <div class="mt-8 flex justify-center">
                    <button type="submit"
                            class="w-1/3 px-4 py-2 tracking-wide text-white bg-green-500 transition-colors duration-200 transform rounded-md bg-primary hover:bg-green-400 focus:outline-none focus:bg-teal-400">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
    <partial name="_CaptchaPartial" />
    <partial name="_ValidationScriptsPartial" />
    }
}
