﻿@page
@model AdminTool.Pages.Account.ResetPasswordModel

<section>
    @if (string.IsNullOrEmpty(Model.Token) || string.IsNullOrEmpty(Model.Email))
    {
        <h1 class="font-bold tracking-wider text-xl mb-2 w-full text-gray-600">
            Provided invalid url queries
        </h1>
    }
    else
    {
        <div class="flex justify-center items-center h-screen">
            <div class="max-w-md border-2 rounded-md bg-white w-full p-6 space-y-4">
                <div class="text-center flex flex-col justify-center items-center mb-4">
                    <h1 class="font-bold tracking-wider text-xl mb-2 w-full text-gray-600">
                        Reset your password
                    </h1>
                    <div class="py-2 text-left text-red-500 font-semibold">
                        @Html.Raw(Model.ErrorMessage)
                    </div>
                    <form method="post">
                        <input type="hidden" asp-for="CaptchaToken" />       
                        <input type="hidden" asp-for="Email" />  
                        <input type="hidden" asp-for="Token" />  
                        <div class="" mb-4">
                            <label asp-for="NewPassword" class="block mb-2 text-base text-gray-600 font-semibold"></label>
                            <input asp-for="NewPassword" type="password"
                               class="py-2 px-3 border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
                            <span asp-validation-for="NewPassword" class="py-2 text-left text-red-500 font-semibold"></span>
                        </div>
                        <div class="" mb-4">
                            <label asp-for="ConfirmPassword" class="block mb-2 text-base text-gray-600 font-semibold"></label>
                            <input asp-for="ConfirmPassword" type="password"
                               class="py-2 px-3 border border-gray-300 focus:border-green-300 focus:outline-none focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
                            <span asp-validation-for="ConfirmPassword" class="py-2 text-left text-red-500 font-semibold"></span>
                        </div>
                        <div class="mt-8">
                            <button asp-page-handler="ChangePassword" class="w-full px-4 py-2 tracking-wide text-white bg-green-500 transition-colors duration-200 transform rounded-md bg-primary hover:bg-green-400 focus:outline-none focus:bg-teal-400">
                                Continue
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

</section>

@section Scripts {
    @{
    <partial name="_CaptchaPartial" />
    <partial name="_ValidationScriptsPartial" />
    }
}