@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-500 hover:text-blue-800 focus:ring-blue-400;
    min-height: 2rem;
    min-width: 2rem;
  }
}

@layer components {
    .btn {
        @apply py-2 px-4 focus:outline-none font-semibold rounded-lg shadow-md focus:ring-2 focus:ring-opacity-75;
    }

    .btn-primary {
        @apply text-white bg-teal-500 hover:bg-teal-700 focus:ring-teal-400;
    }

    .btn-link {
        @apply text-teal-500 hover:text-teal-700 focus:ring-teal-400;
    }

    .btn-link-blue {
        @apply text-blue-500 hover:text-blue-800 focus:ring-blue-400;
        ;
    }

    .header {
        @apply flex flex-col md:flex-row md:min-h-screen text-white relative;
    }

    .sidebar {
        @apply flex flex-col w-full md:w-64 bg-white flex-shrink-0 bg-gradient-to-b from-indigo-900 to-purple-900;
    }

    .navbar-brand {
        @apply flex-shrink-0 px-4 py-4 flex flex-row items-center justify-between;
    }

    .navbar-brand-link {
        @apply text-lg font-semibold tracking-widest rounded-lg whitespace-nowrap text-white hover:text-white;
    }

    .nav {
        @apply flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto;
    }

    .nav-icon {
        @apply text-2xl text-white mr-4;
    }

    .nav-link {
        @apply px-4 py-2 mt-2 text-sm font-semibold rounded-lg;
    }

    .nav-btn {
        @apply flex flex-row items-center w-full md:block;
    }

    .nav-link__content {
        @apply flex justify-between mb-1;
    }

    .btn-show {
        @apply right-0 w-full mt-2 origin-top-right rounded-md;
    }

    .nav-item--child {
        @apply block px-4 text-xs py-5 bg-transparent rounded-lg md:mt-0 hover:text-white text-white;
    }
}

@layer utilities {
    @media screen and (min-width: 768px) {
        .block-important {
            display: block !important;
        }
    }
}

