﻿<footer class="md:flex md:items-center">
    <p class="text-center text-sm text-gray-500">
        &copy; 2022 - Demo - <a class="text-black"  asp-area=""
                                asp-page="/Doing/testing">Privacy</a>
    </p>
</footer>