﻿<aside :class="{ '-ml-64': !sidebarOpen }" class="flex-shrink-0 w-64 flex flex-col border-r transition-all duration-300">
    <div class="h-screen bg-gray-800">

        <div class="text-center border-b-2">
            <div class="my-5 ">
                <img src="~/images/logo.png" class="mx-auto"
                     alt="">
            </div>
        </div>
        <div class="mt-12 mx-5">
            <a href="" class="text-base rounded-lg hover:bg-gray-500  flex items-center p-2 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="text-xl iconify iconify--fa nav-icon text-white" width="1.27em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1664 1312" data-icon="fa-home" b-n058zbk7wq=""><path fill="currentColor" d="M1408 768v480q0 26-19 45t-45 19H960V928H704v384H320q-26 0-45-19t-19-45V768q0-1 .5-3t.5-3l575-474l575 474q1 2 1 6zm223-69l-62 74q-8 9-21 11h-3q-13 0-21-7L832 200L140 777q-12 8-24 7q-13-2-21-11l-62-74q-8-10-7-23.5T37 654L756 55q32-26 76-26t76 26l244 204V64q0-14 9-23t23-9h192q14 0 23 9t9 23v408l219 182q10 8 11 21.5t-7 23.5z"></path></svg>
                <span class=" text-white">Home</span>
            </a>
            <a href="" class="text-base rounded-lg hover:bg-gray-500  flex items-center p-2 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     aria-hidden="true" role="img" class="text-2xl text-white  iconify--heroicons-outline"
                     width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                     data-icon="heroicons-outline:device-tablet" b-n058zbk7wq="">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 18h.01M7 21h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2Z">
                    </path>
                </svg>
                <span class="ml-4 text-white">Device</span>
            </a>
            <a href="" class="text-base rounded-lg hover:bg-gray-500  flex items-center p-2 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     aria-hidden="true" role="img" class="text-2xl text-white  iconify--tabler" width="1em"
                     height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                     data-icon="tabler:license" b-n058zbk7wq="">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M15 21H6a3 3 0 0 1-3-3v-1h10v2a2 2 0 0 0 4 0V5a2 2 0 1 1 2 2h-2m2-4H8a3 3 0 0 0-3 3v11M9 7h4m-4 4h4">
                    </path>
                </svg>
                <span class="ml-4 text-white">License</span>
            </a>
            <a href="" class="text-base rounded-lg hover:bg-gray-500  flex items-center p-2 mt-3">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     aria-hidden="true" role="img" class="text-2xl text-white  iconify--fluent" width="1em"
                     height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                     data-icon="fluent:payment-24-regular" b-n058zbk7wq="">
                    <path fill="currentColor"
                          d="M15.75 14.5a.75.75 0 0 0 0 1.5h2.5a.75.75 0 0 0 0-1.5h-2.5ZM4.75 5A2.75 2.75 0 0 0 2 7.75v8.5A2.75 2.75 0 0 0 4.75 19h14.5A2.75 2.75 0 0 0 22 16.25v-8.5A2.75 2.75 0 0 0 19.25 5H4.75ZM3.5 16.25V11h17v5.25c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25Zm0-6.75V7.75c0-.69.56-1.25 1.25-1.25h14.5c.69 0 1.25.56 1.25 1.25V9.5h-17Z">
                    </path>
                </svg>
                <span class="ml-4 text-white">Payment</span>
            </a>
  
        </div>
    </div>
</aside>